.input-div {
  @include u-flex-center;
  text-align: center;
}

.input-div .user-input {
  padding: 0.5rem 1rem;
  outline: none;
  height: 3rem;
  width: 28rem;
  font-size: 1.15rem;
  margin: 0.25rem;
  border: none;
  border-radius: 16px 0 16px 0;
  border-bottom: 5px solid lime;
}

.btn {
  height: 3rem;
  width: 3rem;
  border-radius: 25px;
  outline: none;
  border: none;
  margin: 0.25rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:active {
  opacity: 0.8;
  transform: scale(0.94);
}

.list-container {
  @include u-flex-center;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}

.list-item {
  width: 35rem;
  font-size: 1.5rem;
}

li {
  display: flex;
  justify-content: space-between;
}

.close {
  padding: 0 0.4rem;
  transition: all 0.3s;

  &:hover {
    transform: translateX(-0.3rem) scale(1);
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .input-div .user-input {
    padding: 0.5rem 1rem;
    outline: none;
    height: 2.5rem;
    width: 17rem;
    font-size: 1.15rem;
    margin: 0.25rem;
    border: none;
    border-radius: 16px 0 16px 0;
    border-bottom: 5px solid lime;
  }

  .btn {
    height: 2.5rem;
    width: 2.5rem;
  }

  .list-item {
    width: 20rem;
    font-size: 1rem;
  }
}
