h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 3rem;
  text-align: center;
  color: $color-white;
  font-family: "Hind", sans-serif;
}
.heading-style {
  font-weight: 700;
  color: lime;
}
